<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" style="z-index: 1060;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirmation</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to do this?</p>
                <p id="confirmation-note" style="display: none">Note</p>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="_confirmationClick()">Confirm</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="_resetConfirmationNote()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    let f = async function()
    {
        console.log("confirm function has not been set yet.");
    }
    const note = document.getElementById('confirmation-note');
    function setConfirmationNote(txt)
    {
        note.innerText = txt;
        note.style.display = 'block';
    }
    function _resetConfirmationNote()
    {
        note.style.display = 'none';
        note.innerText = "Note";
    }
    function _confirmationClick()
    {
        f();
        _resetConfirmationNote();
    }
</script>