{% extends 'layout.html' %}
{% block head %}
    <link href="{{ url_for('static', filename='styles/download.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container-fluid" style="min-height: 100vh">
        <section class="hero-section text-white text-center d-flex align-items-center justify-content-center" style="height: 30vh;">
            <div>
                <h1>Download Space Legends</h1>
                <p>Space Legends 1.0 (Beta) is currently available on PC platform</p>
            </div>
        </section>
    </div>
{% endblock %}