{% extends 'layout.html' %}
{% block head %}

{% endblock %}
{% block content %}

    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-md-4">
                <div class="card shadow" style="width: 100%;">
                    <div class="card-body">
                        <h3 class="card-title">Edit your profile</h3>

                        <div class="mb-3">
                            <label for="displayname" class="form-label">Display Name</label>
                            <input type="text" class="form-control" id="displayname" name="displayname" value="{{ user.display_name }}">
                            <button onclick="changeDisplayname('{{ url_for('api.change_displayname') }}')" class="btn btn-primary mt-2">Change Name</button>
                        </div>

                        <h4>Change your password</h4>
                        <div class="mb-3">
                            <label for="currpassword" class="form-label">Current Password</label>
                            <input type="password" class="form-control" id="currpassword" name="currpassword">
                            <label for="pass1" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="pass1" name="pass1">
                            <label for="pass2" class="form-label">Confirm new Password</label>
                            <input type="password" class="form-control" id="pass2" name="pass2">
                            <button onclick="changePassword('{{ url_for('auth.change_password') }}')" class="btn btn-primary mt-2">Change Password</button>
                        </div>

                        <h4>Synchronize your StarDust</h4>
                        <div class="mb-3">
                            <p>You currently have {{ user.money_sdt | format_number }} SDT in your account and {{ current_sdt | format_number }} SDT in your blockchain wallet.</p>
                            <p>By synchronizing your SDT, you'll write {{ user.money_sdt | format_number }} on the blockchain.</p>
                            <button onclick="confirmSync('{{ url_for('api.sync_sdt') }}')" data-bs-toggle="modal" data-bs-target="#confirmationModal" class="btn btn-primary mt-2">Synchronize</button>
                        </div>

                        <div class="text-center mt-4">
                            <a href="{{ url_for('views.own_profile') }}">Go back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/edit_profile.js') }}"></script>

{% endblock %}