{% extends 'layout.html' %}
{% block head %}
{% endblock %}
{% block content %}

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 d-flex flex-column align-items-start justify-content-start" style="min-height: 100vh; padding-left: 100px; padding-top: 50px">
                <h3>You forgot the password of your Space Legends account ?</h3>
                <input name="username" id="username" type="text" placeholder="Your username" class="mb-2 form-control" style="max-width: 500px">
                <button class="btn btn-primary" onclick="request()">Send</button>
            </div>
        </div>
    </div>

    <script>
        async function request() {

            const resp = await fetch('{{ url_for('auth.forgot_password') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'username': document.getElementById('username').value})
            });

            if(resp.headers.has('Content-Type') && resp.headers.get('Content-type') === 'application/json') {
                const jrep = await resp.json();
                if(resp.ok) {
                    showInfoToast(jrep.message)
                } else {
                    showErrorToast(jrep.message);
                }
            } else {
                showErrorToast("An unknown error occurred please try again later.");
            }

        }
    </script>

{% endblock %}