{% extends 'layout.html' %}
{% block head %}
    <style>
        i {
            color: #0d6efd;
            scale: 150%;
            margin-right: 15px;
            margin-bottom: 15px;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center" style="min-height: 100vh;">
            <!-- Left side of the page, title and marketing texts -->
            <div class="col-md-5 offset-md-1 text-center text-md-left">
                <div>
                    <h1 style="margin-bottom: 20px;">Space Legends</h1>
                    <p><i class="fas fa-rocket"></i> Explore the cosmos and claim digital realms, minting your conquests as NFTs.</p>
                    <p><i class="fas fa-users"></i> Become part of our community and trade exclusive items with fellow players!</p>
                </div>
            </div>

            <!-- Right side of the page, register form -->
            <div class="col-md-5">
                <div class="card shadow" style="width: auto;">
                    <form id="registerForm" data-url="{{ url_for('auth.register') }}">
                        <div class="card-body">
                            <h3 class="card-title">Create your account</h3>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" pattern="[a-z0-9_]+" minlength="3" maxlength="16" title="The username must be unique, alphanumeric, lowercase and can contain underscores. From 3 to 16 characters length" required>
                            </div>
                            <div class="mb-3">
                                <label for="displayName" class="form-label">Display Name (Can be changed later)</label>
                                <input type="text" class="form-control" id="displayname" name="displayname" pattern="[a-zA-ZÀ-Ÿ\-_. 0-9]+" minlength="3" maxlength="24" title="The display name must be alphanumeric with underscore, dash, space or dots. From 3 to 24 characters length">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input oninput="document.getElementById('confirmPassword').setCustomValidity('')" type="password" class="form-control" id="password" name="pass1" minlength="8" required>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm password</label>
                                <input oninput="document.getElementById('confirmPassword').setCustomValidity('')" type="password" class="form-control" id="confirmPassword" name="pass2" minlength="8" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Do you already have a crypto wallet?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="hasWallet" id="yes" value="yes" onchange="handleWalletOptionChange(this.value);">
                                    <label class="form-check-label" for="yes">Yes (Can be changed later)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="hasWallet" id="no" value="no" onchange="handleWalletOptionChange(this.value);" checked>
                                    <label class="form-check-label" for="no">No</label>
                                </div>
                            </div>

                            <div class="mb-3" id="walletAddressContainer" style="display: none;">
                                <label for="walletAddress" class="form-label">Wallet Address (Needs to support Sepolia Testnet)</label>
                                <input type="text" class="form-control" id="walletAddress" name="walletAddress">
                            </div>

                            <div class="mb-3" id="walletInfoText">
                                <p>We'll take care of that for you!</p>
                            </div>

                            <div class="d-flex align-items-center" style="max-width: 100%;">
                                <button type="submit" class="btn btn-primary" onclick="document.getElementById('confirmPassword').setCustomValidity('')">Register</button>
                                <div id="alertMessage" class="alert alert-danger d-none" style="--bs-alert-margin-bottom: 0; margin-left: 0.5rem; word-break: break-all; font-size: 0.8rem" role="alert">
                                    Error Text
                                </div>
                            </div>

                            <div class="text-center mt-4">
                                <a href="{{ url_for('views.login') }}">Already have an account? Log in</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/ethers@5.6.8/dist/ethers.umd.min.js"></script>
    <script src="{{ url_for('static', filename='register.js') }}"></script>
{% endblock %}