.nav-item {
    margin: 0 10px 0 10px;
}

/* Style pour la section hero */
.hero-section {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Assurez-vous que le contenu texte de la section hero se démarque */
.hero-section > div {
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 2rem;
    border-radius: 0.5rem;
}

/* Responsive image styling */
img.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    background-color: #222;
    color: #ccc;
}

footer a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #fff;
}