PRIVATE_KEY=<your wallet private key>
ALCHEMY_API_KEY=<your app api key on https://dashboard.alchemy.com/>
ETHERSCAN_API_KEY=<your etherscan api key on https://etherscan.io/myapikey>
NFT_ADDRESS=<your NFT contract address>
SDT_ADDRESS=<your FT contract address>
SMTP_ADDRESS=youraddress@domain.com
SMTP_SERVER=<your SMTP Outgoing Server>
SMTP_PORT=<your SSL SMTP Outgoing Server port>
SMTP_PASSWORD=<your mail password>
DATABASE_HOST=localhost:3306
DATABASE_USER=root
DATABASE_PASS=<your root user's password>
DATABASE_NAME=<your database's name>
AES_ENCRYPTION_KEY=<a key generated with os.urandom(32) and converted in b64>
JWT_SECRET_KEY=<generate with secrets.token_urlsafe(32) in Python>
PROFILE_PICTURE_FOLDER=<a relative path starting at the static folder>
MAX_PROFILE_PICTURE_SIZE_MB=5.0
MAX_ETH_GAS_FEE=0.005