.profile-header {
    color: white;
    padding: 20px;
}

.profile-pic-container {
    width: 100%; /* Laisse la largeur être déterminée par la flexbox */
    padding-top: 100%; /* Utilise padding pour maintenir un ratio 1:1 */
    position: relative; /* Nécessaire pour le positionnement absolu de l'image */
    overflow: hidden; /* Cache le débordement */
    border-radius: 50%; /* Pour s'assurer que l'image reste circulaire */
}

.profile-pic-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre entièrement le conteneur */
}

.profile-pic-section {
    position: relative;
    display: inline-block;
    clip-path: circle(48.5% at 50% 50%);
}

.profile-pic-section:hover .profile-pic {
    opacity: 0.5;
    cursor: pointer;
}

.profile-pic-section:hover .edit-icon {
    opacity: 1;
    cursor: pointer;
}

.profile-pic {
    transition: opacity 0.3s ease;
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.username-display {
    display: flex;
    align-items: center;
}

.level-icon {
    position: relative;
    margin-left: 10px;
    min-width: 50px;
}

.username-display .level-icon:hover {
    cursor: pointer;
}

.level-icon img {
    width: 55px;
    height: 55px;
}

.level-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
}

.flip-card {
    margin: 10px;
    background-color: transparent;
    width: 350px;
    height: 350px;
    perspective: 1000px; /* 3D effect */
    transition: transform 0.2s;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover {
    /* Scale */
    transform: scale(1.05);
    cursor: pointer;
}

.flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    /* Tries to remove the blurry effect on text when scaling up but does not seems to work */
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front > img {
    border-radius: 15px;
    width: 350px;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #16181b;
    color: white;
    transform: rotateY(180deg);
    font-size: 0.9rem;
    padding: 20px;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
